<div class="panel panel-default">

	<div class="panel-heading">Category List</div>
	<div class="panel-body">
		<p>...</p>
	</div>



	<table class="table">
		<tr>
			<th>Name</th>
			<th>Delete</th>
		</tr>

		<tr ng-repeat="category in entities._embedded.categories">
			<td><a
				href="#/app/categories/{{category.categoryId}}">{{category.name}}</a></td>
			<td><button type="button" class="btn btn-danger"
					ng-click="deleteEntity(category._links.self.href)">Delete</button></td>
		</tr>
	</table>
	<br />

	<a class="btn btn-primary"
		href="#/app/categories-create">Create New Category</a>

</div>
