<div class="panel panel-default">

	<div class="panel-heading">Client List</div>
	<div class="panel-body">
		<p>...</p>
	</div>

	<table class="table">
		<tr>
			<th>Name</th>
			<th></th>
			<th></th>
		</tr>

		<tr ng-repeat="entity in entities._embedded.clients">
			<td>{{entity.name}}</td>
			<td><button type="button" class="btn"
					ng-click="viewEntity(entity._links.self.href)">View</button></td>
			<td><button type="button" class="btn btn-danger"
					ng-click="deleteEntity(entity._links.self.href)">Delete</button></td>
		</tr>
	</table>
	<br />

	<button class="btn btn-primary"
		ng-click="viewCreateEntity()">Create New Client</button>

</div>
