<div class="panel panel-default">

	<div class="panel-heading">Income List</div>
	<div class="panel-body">
		<p>...</p>
	</div>

	<table class="table">
		<tr>
			<th>cashSales</th>
			<th>salesReturns</th>
			<th>totalSales</th>
			<th>paymentOnAccount</th>
			<th>client</th>
			<th>calendar</th>
			<th>particulars</th>
			<th>hst</th>
			<th></th>
			<th></th>
		</tr>

		<tr ng-repeat="entity in entities._embedded.incomes">
			<td>{{entity.cashSales}}</td>
			<td>{{entity.salesReturns}}</td>
			<td>{{entity.totalSales}}</td>
			<td>{{entity.paymentOnAccount}}</td>
			<td>{{entity.client}}</td>
			<td>{{entity.calendar}}</td>
			<td>{{entity.particulars}}</td>
			<td>{{entity.hst}}</td>
			<td><button type="button" class="btn"
					ng-click="viewEntity(entity._links.self.href)">View</button></td>
			<td><button type="button" class="btn btn-danger"
					ng-click="deleteEntity(entity._links.self.href)">Delete</button></td>
		</tr>
	</table>
	<br />

	<button class="btn btn-primary"
		ng-click="viewCreateEntity()">Create New Category</button>

</div>
