<h2>Income Details</h2>

<form role="form">

	<div class="form-group">
		<label class="control-label" for="cashSales">cashSales:</label> <input
			type="text" id="cashSales" class="form-control"
			placeholder="Enter cashSales" ng-model="income.cashSales" /> 
			
		<label
			class="control-label" for="salesReturns">salesReturns:</label> <input
			type="text" id="salesReturns" class="form-control"
			placeholder="Enter salesReturns" ng-model="income.salesReturns" /> 
			
		<label
			class="control-label" for="totalSales">totalSales:</label> <input
			type="text" id="totalSales" class="form-control"
			placeholder="Enter totalSales" ng-model="income.totalSales" /> 
			
		<label
			class="control-label" for="paymentOnAccount">paymentOnAccount:</label>
		<input type="text" id="paymentOnAccount" class="form-control"
			placeholder="Enter paymentOnAccount"
			ng-model="income.paymentOnAccount" /> 
			
		<label class="control-label"
			for="name">client:</label> <input type="text" id="client"
			class="form-control" placeholder="Enter client"
			ng-model="income.client" /> 
			
		<label class="control-label"
			for="calendar">calendar:</label> <input type="text" id="calendar"
			class="form-control" placeholder="Enter calendar"
			ng-model="income.calendar" /> 
			
		<label class="control-label"
			for="particulars">particulars:</label> <input type="text"
			id="particulars" class="form-control" placeholder="Enter particulars"
			ng-model="income.particulars" /> 
			
		<label class="control-label"
			for="hst">hst:</label> <input type="text" id="hst"
			class="form-control" placeholder="Enter hst" ng-model="income.hst" />
	</div>

	<button type="submit" class="btn btn-primary"
		ng-click="updateIncome(income.incomeId)">Update income</button>
	<button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
</form>